<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gram</key>
	<integer>1</integer>
	<key>Kilo</key>
	<integer>1000</integer>
	<key>Pound (lb)</key>
	<real>453.59</real>
	<key>Ounce</key>
	<real>28.349523</real>
	<key>Ton</key>
	<integer>1000000</integer>
	<key>Milligram</key>
	<real>0.001</real>
	<key>Carat</key>
	<real>0.2052</real>
	<key>Ton (US)</key>
	<real>907184.74</real>
	<key>Ton (UK)</key>
	<real>1016046.9088</real>
</dict>
</plist>
