<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Convertation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CC156861CBFC7F4006F9239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CC1569A1CBFC7F5006F9239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CC156A51CBFC7F5006F9239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
